<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<div class="" card>
    <div class="card-header">
        <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
    </div>
    <div class="card-body">
        <h1 class="card-title">{% block page_heading %}{% endblock %}</h1>
        <p class="card-text">{% block content %}{% endblock %}</p>
       {% block footer %}{% endblock %}
    </div>
</div>
</body>
</html>