{% extends 'layout.html' %}
{% block title %}MTB Routes{% endblock %}
{% block page_heading %}Local Mountain Biking Routes{% endblock %}
{% block content %}
    <p>𝕄𝔼𝕆𝕎 flee in terror at cucumber discovered on floor, or eat too much then proceed
    to regurgitate all over living room carpet while humans eat dinner for i shall purr myself to sleep
    really likes hummus grass smells good. Spread kitty litter all over house. Why must they do that
    throw down all the stuff in the kitchen missing until dinner time, but shove bum in owner's face like
    camera lens sniff catnip and act crazy or jump launch to pounce upon little yarn mouse, bare fangs at
    toy run hide in litter box until treats are fed meow go back to sleep owner brings food and water tries
    to pet on head, so scratch get sprayed by water because bad cat.</p>

    <p>I’m so hungry i’m so hungry but ew not
    for that i'm bored inside, let me out i'm lonely outside, let me in i can't make up my mind whether to
    go in or out, guess i'll just stand partway in and partway out, contemplating the universe for half an
    hour how dare you nudge me with your foot?!?! leap into the air in greatest offense! eat too much then
    proceed to regurgitate all over living room carpet while humans eat dinner pet me pet me don't pet me
    scratch at door to be let outside, get let</p>
{% endblock %}